http://www.alexferl.com:2015 {
    redir https://alexferl.com{uri}
}

:2015 {
    errors stderr
    log / stdout "{remote} - [{when}] {method} {uri} {proto} {status} {size} {>Referer} {>User-Agent}"

    redir {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    header / {
        Cache-Control "max-age=31536000"
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1; mode=block"
    }

    gzip {
        level 1
    }
}
