{{define "404.html"}}
{{template "base.html" .}}
{{end}}

{{define "404-content"}}
<div class="has-text-centered">
  <div class="box">
    <div class="content">
      <i class="fas fa-exclamation-triangle has-text-warning" style="font-size: 4rem; margin-bottom: 1rem;"></i>
      <h1 class="title is-1 has-text-primary">404</h1>
      <h2 class="subtitle is-3">Page Not Found</h2>
      <p class="is-size-5 mb-5">
        Oops! We couldn't find that page. It might have been moved or deleted.
      </p>

      <div class="buttons is-centered">
        <a href="/" class="button is-primary is-medium">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span>Take Me Home</span>
        </a>
      </div>
    </div>
  </div>
</div>
{{end}}
