{{define "navbar.html"}}
<nav class="navbar is-primary" role="navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title is-5 has-text-white">
          <a href="/" class="has-text-white">Alexandre Ferland</a>
        </h1>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="mailto:me@alexferl.com" target="_blank" aria-label="Email Alexandre Ferland" class="button is-outlined">
              <span class="icon"><i class="fas fa-envelope"></i></span>
            </a>
            <a href="https://github.com/alexferl" target="_blank" aria-label="Visit Alexandre Ferland's GitHub profile" class="button is-outlined">
              <span class="icon"><i class="fab fa-github"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/alexferl/" target="_blank" aria-label="Visit Alexandre Ferland's LinkedIn profile" class="button is-outlined">
              <span class="icon"><i class="fab fa-linkedin"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{{end}}
